<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mercycorpsfinal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotwo"
        android:label="EWS Pocket Diary"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.KanchanpurList"
            android:label="" />
        <activity android:name=".activity.CallListActivity" />
        <activity
            android:name=".activity.DetailActivity"
            android:label="" />
        <activity android:name=".activity.ApatkalinAwasthaActivity"
            android:label="मानवीय सहायतामा संलग्न निकाय"
            />
        <activity android:name=".activity.GairSarkariSasthaActivity"
            android:label="@string/sheet4_str"
            />

        <activity android:name=".activity.SuchanaBewasthapan5Activity"
            android:label="@string/sheet5_str" />
        <activity android:name=".activity.Sheet3" />
        <activity android:name=".activity.Sheet6"
            android:label="@string/sheet6_str"/>
        <activity android:name=".activity.Sheet7"
            android:label="@string/sheet7_str"
            />
        <activity android:name=".activity.Sheet8"
            android:label="@string/sheet8_str"/>
        <activity android:name=".activity.Sheet9"
            android:label="@string/sheet_str"/>
        <activity android:name=".activity.Sheet10"
            android:label="@string/sheet10_str"/>
        <activity android:name=".activity.Sheet11"
            android:label="@string/sheet11_str"/>
        <activity android:name=".activity.Sheet12"
            android:label="@string/sheet12_str"/>
        <activity android:name=".activity.Sheet13"
            android:label="@string/sheet13_str"  />
        <activity android:name=".activity.Sheet14"
            android:label="@string/sheet14_str"/>
        <activity android:name=".activity.Sheet15"
            android:label="@string/sheet15_str"/>
        <activity android:name=".activity.Sheet16"
            android:label="@string/sheet16_str"/>
        <activity android:name=".activity.Sheet17"
            android:label="@string/sheet17_str"/>
        <activity android:name=".activity.Sheet18"
            android:label="@string/sheet18_str"/>
        <activity android:name=".activity.Sheet19"
            android:label="@string/sheet19_str"/>
        <activity android:name=".activity.Sheet20"
            android:label="@string/sheet20_str"/>
        <activity android:name=".activity.Sheet21"
            android:label="@string/sheet21_str"/>
        <activity android:name=".activity.CommunicationActivity" />
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.ThresholdActivity"></activity>
        <activity android:name=".activity.Sheet25"
            android:label="@string/sheet25_str"/>
    </application>

</manifest>